.board-rows{
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffff99;
}
.heading{
  font-family: "Roboto";
  font-size: 32px;
}